/* define new styles */
.jp-Cell.rmotr-cell-is-solution {
  background-color: var(--md-blue-50) !important;
  margin-bottom: 1rem;
}
.jp-Cell.rmotr-cell-is-hint {
  background-color: var(--md-amber-50) !important;
  margin-bottom: 1rem;
}

.jp-Cell:not(.rmotr-cell-is-solution):not(.rmotr-cell-is-hint) .jp-Cell-inputArea.p-mod-hidden {
  display: inherit !important;
}

.jp-Cell.rmotr-cell-is-solution .jp-Cell-inputWrapper,
.jp-Cell.rmotr-cell-is-hint .jp-Cell-inputWrapper {
  margin-top: 5px;
}

.jp-Cell.rmotr-cell-is-solution .jp-CellHeader,
.jp-Cell.rmotr-cell-is-hint .jp-CellHeader {
  height: auto;
}

.jp-Cell.rmotr-cell-is-solution:hover .rmotr-toggleCellHeaderButton,
.jp-Cell.rmotr-cell-is-hint:hover .rmotr-toggleCellHeaderButton {
  opacity: 0.3;
}

.jp-Cell.rmotr-cell-is-solution.jp-mod-active .rmotr-toggleCellHeaderButton,
.jp-Cell.rmotr-cell-is-hint.jp-mod-active .rmotr-toggleCellHeaderButton {
  opacity: 1;
}

.jp-Cell.rmotr-cell-is-solution .rmotr-toggleCellHeaderButton,
.jp-Cell.rmotr-cell-is-hint .rmotr-toggleCellHeaderButton {
  color: #FFF;
  opacity: 0;
  font-size: 0.65rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  padding: 4px 8px;
  margin: 0.2rem 0;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.15);
  outline: none;
  cursor: pointer;
  user-select: none;
}
.jp-Cell.rmotr-cell-is-solution .rmotr-toggleCellHeaderButton {
  background: var(--md-blue-400);
}
.jp-Cell.rmotr-cell-is-hint .rmotr-toggleCellHeaderButton {
  background: var(--md-amber-400);
}

.jp-Cell.rmotr-cell-is-solution .rmotr-toggleCellHeaderButton:hover {
  background-color: var(--md-blue-500);
  opacity: 1;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  box-shadow: var(--jp-elevation-z2);
}

.jp-Cell.rmotr-cell-is-hint .rmotr-toggleCellHeaderButton:hover {
  background-color: var(--md-amber-500);
  opacity: 1;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  box-shadow: var(--jp-elevation-z2);
}

.jp-Cell.rmotr-cell-is-solution .rmotr-toggleCellHeaderButton:active {
  background-color: var(--md-blue-600);
  text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.jp-Cell.rmotr-cell-is-hint .rmotr-toggleCellHeaderButton:active {
  background-color: var(--md-amber-600);
  text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.jp-Cell.rmotr-cell-is-solution .rmotr-cellHeaderText,
.jp-Cell.rmotr-cell-is-hint .rmotr-cellHeaderText {
  color: var(--jp-cell-prompt-not-active-font-color);
  display: inline-block;
  opacity: 0.6;
  font-size: 0.75rem;
  font-style: italic;
  margin: 7px;
}

.jp-Cell.rmotr-cell-is-solution .rmotr-cellHeaderText span,
.jp-Cell.rmotr-cell-is-hint .rmotr-cellHeaderText span {
  text-transform: capitalize; 
}

